.idea/*
**/.idea/*
temp/*
**/.vs/*
**/.vsconfig
**/Saved/*
**/Intermediate/*
**/DerivedDataCache/*
**/Binaries/*
*.sln
**/Nvigi/Models/
ue/DigitalHuman/Packaged_Unreal_Projects/*
ue/DigitalHuman/Build/*